/* contact.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Display items in a row */
    justify-content: center; /* Center align items horizontally */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Contact Form Styles */
#contact-form {
    margin-bottom: 40px;
}

#contact-form h2 {
    margin-bottom: 20px;
}

#contact-form form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form form input[type="text"],
#contact-form form input[type="email"],
#contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-form form textarea {
    resize: vertical;
}

#contact-form form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}


#contact-form form button:hover {
    background-color: #555;
}

/* Contact Information Styles */
#contact-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#contact-info h2 {
    margin-bottom: 20px;
}

#contact-info ul {
    list-style-type: none;
    padding: 0;
}

#contact-info ul li {
    margin-bottom: 10px;
}

#contact-info ul li strong {
    font-weight: bold;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Back to Home Link Styles */
a[href="./home.html"] {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    background-color: #ccc;
    padding: 10px 20px;
    border-radius: 5px;
}

a[href="./home.html"]:hover {
    background-color: #555;
    color: #fff;
}
